<h1>Recent Questions</h1>
<% if flash[:notice] %>
  <span><%= flash[:notice] %></span>
<% end %>

<% if @questions %>
  <ul class="questions">
    <% @questions.each do |question| %>
      <li class="question"><span class="title"><%= question.title %></span></li>
    <% end %>
  </ul>
<% end %>