<h1>Recent Questions</h1>
<% if @questions %>
  <ul class="questions">
    <% @questions.each do |question| %>
      <li class="question"><span class="title"><%= question.title %></span></li>
    <% end %>
  </ul>
<% else %>
  <span>There are no questions, please create one.</span>
<% end %>